body{
    display: grid;
}
@keyframes cubeRotate{
    from{
        transform: rotateX(60deg) rotateY(30deg) rotateZ(0deg);
    }
    to{
        transform: rotateX(420deg) rotateY(390deg) rotateZ(360deg);
    }
}
.cube{
    margin:auto;
    transform-style: preserve-3d;
    position: relative;
    transform-origin: 150px 150px 150px;
    transform: rotateX(50deg) rotateY(50deg);
    animation: cubeRotate 10s linear infinite;
}
.cube div{
    width: 300px;
    height: 300px;
    border:1px solid black;
    position: absolute;
}
.face1{
    background-color: rgba(255, 0, 0, 0.2);
    transform: rotateX(90deg) translateZ(150px);
}
.face2{
    background-color:  rgba(0, 255, 0, 0.2);
    transform: rotateY(90deg) translateZ(150px);
}
.face3{
    background-color: rgba(0, 0, 255, 0.2);
    transform:translateZ(150px);
}
.face4{
    background-color:  rgba(255, 255, 0, 0.2);
    transform: rotateX(90deg) translateZ(-150px);
}
.face5{
    background-color:  rgba(0, 255, 255, 0.2);
    transform: rotateY(90deg) translateZ(-150px);
}
.face6{
    background-color:  rgba(255, 0, 255, 0.2);
    transform:  translateZ(-150px);
}